body {
    padding-top: 70px;
}
div.mansikiImageField {
    margin-top: -18px;
}
div.mansikiCanvas {
    border: 0 solid #000000;
    margin: 0;
    padding: 0;
}
.btn-group {
    margin-left: -4px;
}
.input-group input {
    margin-top: 0;
}
span.minicolors-swatch {
}
.minicolors {
    margin-bottom: 0;
}
div.minicolors input.minicolors-input {
    height: 34px;
    padding-left: 26px;
}

nav.top-menu ul.nav li a{
	padding-left:5px;
	padding-right:5px;
}
nav.top-menu form{
	padding-left:5px;
	padding-right:5px;
}
div.active{
	color:#7197d1;
	font-weight:bold;
}
canvas.mansiki-backgound,canvas.mansiki-layer{
	z-index:50;
	position :absolute;
	top:0px;
	left:0;
}
canvas.mansiki-layer{
	z-index:100;
	position :absolute;

	}
#myCanvas{
	transform:scale(1,1);
}
}